.container {
  position: absolute;
  top: 0;
  height: 7px;
  cursor: move;
  transform-origin: center top;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

.pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center top;
  transition: background-color 0.2s ease-out;
}

.handler {
  position: absolute;
  top: 0;
  height: 100%;
  width: 8%;
  min-width: 1px;
  max-width: 7px;
  cursor: ew-resize;
  transition: background-color 0.2s ease-out;
}

.handlerStart {
  composes: handler;
  left: 0;
}

.handlerEnd {
  composes: handler;
  right: 0;
}
